body {
  
  background-color: rgb(230, 240, 241);
 background-repeat: none;
 background-size: cover;
  font-family: "Roboto", sans-serif;
}

.signup-box {
  width: 360px;
  height: 700px;
  margin: auto;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.938);
  border-radius: 3px;
}







.login-box {
  width: 360px;
  height: 360px;
  margin: auto;
  margin-top: 100px;
  border-radius: 3px; 
  background-color: rgba(255, 255, 255, 0.938);
}









h1 {
  text-align: center;
  padding-top: 30px;
  color: #023327;
}

h4 {
  text-align: center;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
button[type="Submit"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.para-2 {
  text-align: center;
  color: rgb(7, 52, 255);
  font-size: 15px;
  margin-top: -10px;
}
.para-2 a {
  color:rgb(128, 148, 163);
}
